<div class="nav_list_container">
	<ul class="nav_menu_list">
		<li><a href="">Discover</a></li>
		<li><a href="">My Plants</a></li>
		<li><a href="">Diseases</a></li>
		<li><a href="">Blog</a></li>
		<li><a href="">FAQ</a></li>
		<li><a href="">Contact Us</a></li>
	</ul>
</div>
<div class="search_container">
	<h1 class="search_title">Stay always tuned with planting trends</h1>
	<p class="temperature">Current temperature is: 24°C</p>
	<form class="search_form" action="submit"><input class="search_input" type="text" placeholder="Search" /></form>
	<img src="./img/svg/search_block.svg" alt="" class="search_svg" />
</div>
