<div class="wrapper">
	<div>
		<img src="./img/svg/new_badge.svg" alt="" class="new_article_svg" />
		<img src="./img/pic/new_article_img.webp" alt="Soil" />
	</div>
	<div>
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="new_article_title">Tips & Tricks For Cutting</h2>
		<p class="article_text">
			Pruning, like any other skill, requires knowing what you are doing to achieve success. The old idea that anyone with a chain saw or a
			pruning saw can be a landscape pruner is far from the truth. More trees are killed or ruined each year from improper pruning than by
			pests. Remember that pruning is the removal or...
		</p>
	</div>
	<div class="second_article_block">
		<h3 class="second_article_title">TOP of the Day</h3>
		<img src="./img/pic/article_image_big(1).webp" alt="" class="big_img" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Professional Repot</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div class="second_block_align">
		<img src="./img/pic/article_image_big.webp" alt="" class="big_img" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Professional Repot</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
</div>
</div>
<!-- Блок с карточками - Interesting  -->

<div class="article_list_wrapper">
	<div class="decorative">
		<h3 class="article_list_title">INTERESTING</h3>
		<img src="./img/pic/article_image_small.webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Watering mastery</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div class="list_block_align decorative">
		<img src="./img/pic/article_image_small(2).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Plant pot secrets</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div class="list_block_align decorative">
		<img src="./img/pic/article_image_small(3).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Professional Repot</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div class="decorative">
		<img src="./img/pic/article_image_small.webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Watering mastery</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div class="decorative">
		<img src="./img/pic/article_image_small(2).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Plant pot secrets</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div class="decorative">
		<img src="./img/pic/article_image_small(3).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Professional Repot</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
</div>

<!-- блок розделитель с кнопкой попробовать бесплатно -->

<div class="tryForFree_container">
	<img src="./img/svg/logo.svg" alt="logo" class="logo" />
	<h2 class="tryForFree_title">Get unlimited access to exclusive articles</h2>
	<p class="tryForFree_text">Get rid of limits and read everything you wish</p>
	<button class="tryForFree_btn css-button-shadow-border-sliding--green" type="submit">Try For Free</button>
	<img src="./img/svg/try_for_free_block.svg" alt="" class="tryForFreeBlockSvg" />
</div>

<!-- блок карточек с бесконечным скролом -->

<div class="article_list_wrapper">
	<div>
		<img src="./img/pic/article_image_small.webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Watering mastery</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div>
		<img src="./img/pic/article_image_small(2).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Plant pot secrets</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div>
		<img src="./img/pic/article_image_small(3).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Professional Repot</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div>
		<img src="./img/pic/article_image_small.webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Watering mastery</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div>
		<img src="./img/pic/article_image_small(2).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Plant pot secrets</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
	<div>
		<img src="./img/pic/article_image_small(3).webp" alt="" />
		<p class="article_timing">Feb 23 · 8 min read</p>
		<h2 class="card_title">Professional Repot</h2>
		<p class="article_text">Repotting a plant can seem like a difficult task because a lot of things can go wrong – you can damage...</p>
	</div>
</div>
