.article_list_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(404px, auto);
	grid-row-gap: 56px;
	width: 1074px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 74px;
}
.list_block_align {
	margin-top: 38px;
}
.article_list_title {
	margin-bottom: 16px;
	color: var(--textDate);
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}
